# Basic Python

## 1. Split this string

In [ ]:
s = "Hi there Sam!"

In [ ]:
s="Hi there Sam!"
print(s.split())

*`italicized text`*## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:
print("The diameter of{0} is {1} kilometers".format(planet,diameter))

## 3. In this nest dictionary grab the word "hello"

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d['k1'][3]['tricky'][3]['target'][3]

# Numpy

In [ ]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [ ]:
array=np.zeros(10)
print("An array of 10 zeros:",array)

In [ ]:
array=np.ones(10)*5
print("An array of 10 zeros:",array)

## 5. Create an array of all the even integers from 20 to 35

In [ ]:
import numpy as np
arr=np.arange(20,36,2)
print(arr)

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [ ]:
import numpy as np
arr=np.arange(0,9).reshape(3,3)
print(arr)

## 7. Concatinate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [ ]:
a=np.array([1,2,3])
b=np.array([4,5,6])
arr=np.concatenate((a,b))
print(arr)

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [ ]:
import pandas as pd

In [ ]:
row=[['tom',10,'M'],['nick',15,'M']]
df=pd.DataFrame(row,columns=['Name','Age','Gender'])
print(df)

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [ ]:
import pandas as pd
date=pd.date_range(start='1/1/2023',end='10/2/2023')
print(date)

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [ ]:
import pandas as pd
lists=[[1,'aaa',22],[2,'bbb',25],[3,'ccc',24]]
lists1=pd.DateFrame(lists)
print(lists1)

: